@import url('./../../../bootstrap/css/bootstrap-grid.min.css');
@import url('./../../../bootstrap/css/bootstrap.min.css');

.card {
    padding: 1rem;
    margin: 1rem;
    min-height: 500px;
}

.vertical-aligned {
  margin-top: auto;
  margin-bottom: auto;
}

.squared-card-image {
  max-height: 150px;
  max-width: 150px;
}

.fullHeightText {
  font-size: 15vh;
}