@import url('./../../../bootstrap/css/bootstrap-grid.min.css');
@import url('./../../../bootstrap/css/bootstrap.min.css');

.card {
    /* background-color: rgb(241, 241, 241); */
    border: 0.5px solid rgb(255, 255, 255);
    padding: 1rem;
    margin: 1rem;
    min-height: 400px;
}

.vertical-aligned {
  margin-top: auto;
  margin-bottom: auto;
}

.squared-card-image {
  max-height: 150px;
  max-width: 150px;
}