.tabsMain{
    border-radius: 10%;
    background-color: aliceblue;
    box-shadow: 0px 5px 15px rgb(232, 232, 232);
}

/* .inline {
    display: flex;
} */

.icon-grid {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
  }


/* - PrimeReact TabView Custom Styles - */
.p-tabview-title {
    font-weight: lighter;
}

.p-tabview-nav {
    padding-top: 10px;
    padding-left: 5px;
    background-color: #d4e9f6 !important;
    box-shadow: 0px 2px 5px rgb(193, 193, 193);
    border-bottom: none !important;
}

.p-tabview-nav-link {
    background-color: #d4e9f6 !important;
    padding: 10px !important;
}

.p-tabview-selected .p-tabview-nav-link .p-tabview-title{
    color: #3da0de;
    /* border-bottom: 2px solid lightcoral; */
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background-color: #ffffff !important;
    border: none;
}


.p-tabview-nav {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;  
}

.p-highlight{
    border-bottom: 4px solid #ffffff;

}

.flex-items-3 {
    flex-basis: 33.333333%;
}