.icon-grid {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
}

.p-tabview-title {
    font-weight: lighter;
}

.p-tabview-nav {
    padding-top: 10px;
    padding-left: 5px;
    background-color: #94d4ea !important;
    box-shadow: 0px 2px 5px rgb(193, 193, 193);
    border-bottom: none !important;
}

.tab-container {
    border: 1px solid #3da0de87;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.tabsMain {
    border-radius: 10%;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none !important;
}

.p-tabview-selected .p-tabview-nav-link .p-tabview-title {
    color: #3da0de;
}


.p-tabview-nav {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}



.flex-items-3 {
    flex-basis: 33.333333%;
}

.p-tabview-nav-link {
    background-color: #8fbac8 !important;
    border: none !important;
    padding: 8px !important;
    margin-right: 2px !important;
    margin-bottom: -4px;
}

.p-highlight {
    border-bottom: 4px solid #94d4ea;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background-color: var(--background-color-light) !important;
    margin-right: 2px !important;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background-color: var(--background-color-light) !important;
    margin-right: 2px !important;
}

/* Dark Mode specific settings */
.dark-tabs .p-tabview-panels {
    background-color: var(--background-color-dark) !important;
}


/* Light Mode specific settings */
.light-tabs .p-tabview-panels {
    background-color: var(--background-color-light) !important;
}

.dark-icon-text {
    color: var(--text-dark);
}

.light-icon-text {
    color: var(--text-light);
}