@import url('./../../../bootstrap/css/bootstrap-grid.min.css');
@import url('./../../../bootstrap/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Ubuntu:wght@300&display=swap');

/* Default Colors: */
/* Blue: #3da0de */
/* Blog Yellow Heading: #dec33d */


.formInputLabel {
  font-size: larger;
  margin: 25px 0px 10px 5px;
}

.formInput {
  font-weight: 200;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid rgb(234, 234, 234);
}

.formInput:focus {
  border: 2px solid #3da0de;
  outline: none;
}

.formInput::placeholder {
  font-weight: 200;
  color: rgb(180, 180, 180);
}

.submitBtn{
  color: white;
  margin-top: 25px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #3da0de;
  transition: 0.3s;
}

.submitBtn:hover{
  background-color: #2c7fb3;
}

.responseMessage {
  font-weight: 200;
  margin-top: 20px;
}
.successText {

  color: rgb(51, 159, 51);
}

.errorText {

  color: rgb(205, 104, 46);
}
