.small {
    
    min-height: 48px;
    max-height: 48px;
    margin-left: auto;
    margin-right: auto;
}

.technologyIcon {
    min-height: 40px;
    max-height: 40px;
}

.iconContainer {
    padding: 10px;
    text-align: center;
}

@media only screen and (max-width: 600px) { 
    .iconContainer {
        padding: 8px;
    }
}


