.small {
    min-height: 48px;
    max-height: 48px;
    margin-left: auto;
    margin-right: auto;
}

.iconContainer {
    padding: 10px;
    text-align: center;
}

.inline {
    display: flex;
    
}

