@import url('./../../bootstrap/css/bootstrap-grid.min.css');
@import url('./../../bootstrap/css/bootstrap.min.css');


.landingImage{
    width: 70%;
}
.landingMessage {
    width: 70%;
}
.subtext{
    margin-left: 30px;
    font-size: 20px;
}