@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Inter:wght@300&display=swap');

/* Default Colors: */
/* Blue: #3da0de */
/* Blog Yellow Heading: #dec33d */

*{
    font-family: 'IBM Plex Sans';
}

.topCard {
    margin-top: 600px;
}

.portfolioContainer{
    background: linear-gradient(90deg, #ffffff 21px, transparent 1%) center, linear-gradient(#ffffff 21px, transparent 1%) center, #0c306d;
    background-size: 22px 22px;
}

.navbar-container{
    display: flex;
    justify-content: center;
}

.cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}

.blockCard {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}

@media (min-width: 600px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
}

.landingText {
    font-size: 42px;
}

code {
    color:#3dbbde;
}

code.darkMode {
    color: #61cce9 !important;
}

.sectionHeaderContainer {
    display: flex;
    justify-content: center;
    background-color: white;
}

.sectionHeader {
    font-size: 55px;
    margin-top: 100px;
    margin-bottom: 40px;

}


@media only screen and (width < 600px) { 
    .sectionHeader {
        font-size: 40px;
        margin-top: 100px;
        margin-bottom: 40px;
    
    }
}

.clearFormatting{
    background-color: white;
    border: none;
    transition: 0.3s;
}

.clearFormatting:hover {
    background-color: #3da0de;
}

.liked{
    background-color: white;
    border: none;
    color: red;
}

.footerContent {
    background-color: #ffffff;
    padding: 5px 40px 5px 40px;
    border: 1px solid #ffffff;
    border-radius: 35px;
    box-shadow: 0px 2px 5px #ebebeb;
}
#footer {
    display: flex;
    justify-content: center;
}

.author {
    border: none;
    background-color: inherit;
    color: #3da0de;
    transition: 0.5s;
}

.socials {
    border: none;
    padding: 0px;
    margin-right: 50px !important;
    background-color: inherit;
    color: #3da0de;
    transition: 0.5s;
}

.author:hover {
    color: #0c306d;
}

.clickableBlog {
    border: none;
    background-color: inherit;
}