@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Inter:wght@300&display=swap');

*{
    font-family: 'IBM Plex Sans';
}

.portfolioContainer{
    background: linear-gradient(90deg, #ffffff 21px, transparent 1%) center, linear-gradient(#ffffff 21px, transparent 1%) center, #0c306d;
    background-size: 22px 22px;
}

.navbar-container{
    display: flex;
    justify-content: center;
}

.cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}
@media (min-width: 600px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
}

.landingText {
    font-size: 50px;
}
