@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Inter:wght@300&display=swap');

*{
    font-family: 'IBM Plex Sans';
}

.navbar-container{
    display: flex;
    justify-content: center;
}